@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid black; */
}

.App {
  text-align: center;
  background: #27ae60;
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.change-color {
  width: 550px;
}

#quote-box {
  background: #fff;
  border-radius: 5px;
  padding: 40px 50px;
  width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#quote-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fa-quote-left {
  margin-right: 0.4em;
}

.quote-text {
  width: 450px;
  color: #27ae60;
  font-size: 1.75em;
  font-weight: 500;
  /* opacity: 1;
  transition: 1s; */
}

.author-text {
  color: #27ae60;
  /* opacity: 1;
  transition: 1s; */
}

#author {
  float: right;
}

.btns {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  /* height: 50px; */
  margin-top: 60px;
}

.btn {
  background: #27ae60;
  border-radius: 3px;
  height: 38px;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  /* margin-top: 30px;  */
}

.btn:hover {
  background: #27ae60;
  opacity: 0.9;
  color: #fff;
}

#tweet-quote,
#tumblr-quote {
  width: 40px;
  margin-right: 5px;
}

.fa-tumblr {
  /* text-align: center; */
  width: 16px;
}

@media screen and (max-width: 500px) {
  #quote-box,
  .change-color {
    width: 95%;
    padding: 10px 20px;
  }

  .quote-text {
    width: 100%;
  }

  .btns {
    flex-direction: column;
  }

  .links {
    display: flex;
    justify-content: space-around;
    width: 108px;
  }

  #tweet-quote,
  #tumblr-quote {
    margin-top: 20px;
    margin-right: 0;
  }
}
